<?xml version="1.0"?>

<robot name="onrobot_2FGP20_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find dsr_description)/xacro/onrobot_2FGP20_gripper.transmission.xacro" />
  
  <xacro:macro name="onrobot_2FGP20_gripper" params="prefix parent *origin">
      
    <link name="${prefix}onrobot_2FGP20_base_link">
      <visual>
        <geometry>
          <mesh filename="package://dsr_description/meshes/gripper/onrobot/2FGP20/visual/OnRobot-Gripper2FGP20_head.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://dsr_description/meshes/gripper/onrobot/2FGP20/collision/OnRobot-Gripper2FGP20_head.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="3.7" />
        <origin xyz="0.0 0.0 0.0" />
        <inertia ixx = "0.000380" ixy = "0.000000" ixz = "0.000000"
             iyx = "0.000000" iyy = "0.001110" iyz = "0.000000"
             izx = "0.000000" izy = "0.000000" izz = "0.001171" />
      </inertial>
    </link>
      
    <link name="${prefix}onrobot_2FGP20_paddle_1_link">
      <visual>
        <geometry>
          <mesh filename="package://dsr_description/meshes/gripper/onrobot/2FGP20/visual/OnRobot-Gripper2FGP20_paddle.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://dsr_description/meshes/gripper/onrobot/2FGP20/collision/OnRobot-Gripper2FGP20_paddle.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0" />
        <origin xyz="0.0 0.0 0.0" />
        <inertia ixx = "0.000380" ixy = "0.000000" ixz = "0.000000"
             iyx = "0.000000" iyy = "0.001110" iyz = "0.000000"
             izx = "0.000000" izy = "0.000000" izz = "0.001171" />
      </inertial>
    </link>
      
    <link name="${prefix}onrobot_2FGP20_paddle_2_link">
      <visual>
        <geometry>
          <mesh filename="package://dsr_description/meshes/gripper/onrobot/2FGP20/visual/OnRobot-Gripper2FGP20_paddle.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://dsr_description/meshes/gripper/onrobot/2FGP20/collision/OnRobot-Gripper2FGP20_paddle.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0" />
        <origin xyz="0.0 0.0 0.0" />
        <inertia ixx = "0.000380" ixy = "0.000000" ixz = "0.000000"
             iyx = "0.000000" iyy = "0.001110" iyz = "0.000000"
             izx = "0.000000" izy = "0.000000" izz = "0.001171" />
      </inertial>
    </link>
      
  </xacro:macro>
</robot>
